button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #70a03a;
    color:  black;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color .5s;
}