@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 800;
}

.joke-box {
  width: 350px;
  min-height: 350px;
  max-width: 90%;
  background-color: white;
  color: black;
  padding: 10px;
  border: solid 3px black;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joke-container {
  padding: 25px;
  margin: 45px auto;
  text-align: left;
}

.joke {
  display: inline;
  background: aliceblue;
}
